html
{
    font-size: 62%;
    box-sizing: border-box;
}
body{
    margin: 0;
    height: 100vh;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
}
#root
{
  height: 100%;
}
.grid-container 
{
  display: grid;
  grid-template-areas: 'header' 'main' 'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
header
{
  grid-area: header;
  background-color: #009270;
 text-align: center;
 
}
footer
{
  grid-area: footer;
  background-color: #1c2539;
  text-align: center;
  color:white;
  font-size: 12px;
  
}
main
{
  grid-area: main;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
 nav ul
{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  
}
ul{
  list-style-type: none;
}

main ul,table{
  
  width: 40%;
}
nav a{
  
  padding: 1.5rem;
  text-decoration: none;
  color: white;
}
 img{
  width: 3rem;
  height: 3rem;
}
.item-container
{
  display:flex;
  justify-content: space-between;
  margin: 1rem; 
  flex-wrap: wrap;
}
.item-container .country-name
{
  font-size: 3rem;
}
thead{
  text-align: left;
}
thead th{
  text-align: left;
}
.active-link
{
  background-color:#198068;
  font-weight: bold;
}

#matchesTable
{
  border-collapse: collapse;
  width: 70%;
}
#matchesTable th,#matchesTable td{
  border: 1px solid #ddd;
  padding: 8px;
}
#matchesTable tr:nth-child(even)
{
  background-color: #f2f2f2;
}
#matchesTable tr:hover 
{
  background-color: #ddd;
}
#matchesTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:#49a77e;
  color: white;
}
.profile-container img{
  width: 16rem;
  height: 5rem;
}